<mat-toolbar class="navbar bg-dark">
    <div class="left-navbar d-flex justify-content-between align-items-center">
        <img class="dd-logo" src="dd-logo.jpg" alt="dd-logo">
        <span class="px-2">DAILY DRIFTS</span>
    </div>

    <div class="nav-items">
        <!-- <a class="nav-link" mat-button routerLink="/">Home</a> -->
        <!-- <a class="nav-link" mat-button routerLink="/about">About</a> -->
        <!-- <a class="nav-link" mat-button routerLink="/contact">Contact</a> -->
        <a class="nav-link" mat-button routerLink="/blogs">Blogs</a>
        <a *ngIf="!(isLoggedIn$ | async)" class="nav-link" mat-button routerLink="/login">Login</a>
        <a *ngIf="isLoggedIn$ | async" class="nav-link" mat-button routerLink="/login" (click)="onLogout()">Logout</a>
    </div>    
</mat-toolbar>